Flow_1.txt
[{"id":"68785b10.8a4554","type":"inject","z":"b1960a12.b1b768","name":"Liga","topic":"Leds","payload":"D","payloadType":"str","repeat":"","crontab":"","once":false,"x":203,"y":191,"wires":[["351ce386.ee282c","78f8925a.10b3fc"]]},{"id":"dd574f8b.b5d8","type":"inject","z":"b1960a12.b1b768","name":"Desliga","topic":"Leds","payload":"L","payloadType":"str","repeat":"","crontab":"","once":false,"x":205,"y":240,"wires":[["351ce386.ee282c","78f8925a.10b3fc"]]},{"id":"78f8925a.10b3fc","type":"mqtt out","z":"b1960a12.b1b768","name":"","topic":"Leds","qos":"","retain":"","broker":"fc7b9192.3844d","x":579,"y":177,"wires":[]},{"id":"351ce386.ee282c","type":"debug","z":"b1960a12.b1b768","name":"","active":true,"console":"false","complete":"false","x":531,"y":277,"wires":[]},{"id":"865cacb8.08e1b","type":"ui_button","z":"b1960a12.b1b768","name":"","group":"88aecfb8.f6e61","order":1,"width":"4","height":"1","passthru":false,"label":"L = Ligado","color":"black","bgcolor":"","icon":"","payload":"L","payloadType":"str","topic":"","x":93,"y":290,"wires":[["78f8925a.10b3fc","d6c4c300.bf76d","d4096eac.2184c"]]},{"id":"22597f61.670a","type":"ui_button","z":"b1960a12.b1b768","name":"","group":"88aecfb8.f6e61","order":2,"width":"4","height":"1","passthru":false,"label":"D = Desligado","color":"black","bgcolor":"","icon":"","payload":"D","payloadType":"str","topic":"","x":96,"y":103,"wires":[["fd335d31.c1213"]]},{"id":"d6c4c300.bf76d","type":"switch","z":"b1960a12.b1b768","name":"Botao Virtual","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"L","vt":"str"},{"t":"eq","v":"D","vt":"str"}],"checkall":"true","outputs":2,"x":477,"y":125,"wires":[["1246a868.e0b888","cd7b9946.41d4b8"],["cd7b9946.41d4b8","d5cd8653.67b878"]]},{"id":"c7a4a1a4.7f19e","type":"mqtt in","z":"b1960a12.b1b768","name":"","topic":"Botao","qos":"2","broker":"fc7b9192.3844d","x":169,"y":350,"wires":[["df77ed2d.1e436","29287358.6b942c"]]},{"id":"df77ed2d.1e436","type":"debug","z":"b1960a12.b1b768","name":"","active":false,"console":"false","complete":"false","x":471,"y":421,"wires":[]},{"id":"29287358.6b942c","type":"switch","z":"b1960a12.b1b768","name":"Botao Fisico","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Fisico","vt":"str"},{"t":"eq","v":"Fisico.","vt":"str"}],"checkall":"true","outputs":2,"x":430,"y":350,"wires":[["ab2f5fd0.42e75"],["3d570dca.69c942"]]},{"id":"ab2f5fd0.42e75","type":"ui_toast","z":"b1960a12.b1b768","position":"dialog","displayTime":"3","highlight":"","outputs":1,"ok":"OK","cancel":"Sala Ligado","topic":"","name":"","x":679,"y":330,"wires":[[]]},{"id":"cd7b9946.41d4b8","type":"debug","z":"b1960a12.b1b768","name":"","active":true,"console":"false","complete":"false","x":725,"y":107,"wires":[]},{"id":"1246a868.e0b888","type":"ui_toast","z":"b1960a12.b1b768","position":"dialog","displayTime":"3","highlight":"","outputs":1,"ok":"Sala Desligado   OK","cancel":" Botao_Virtual","topic":"","name":"","x":741,"y":57,"wires":[[]]},{"id":"38a82aa9.826d26","type":"mqtt in","z":"b1960a12.b1b768","name":"","topic":"ADCCarlosKwiek","qos":"2","broker":"fc7b9192.3844d","x":189,"y":480,"wires":[["60180ddf.6bfba4","6f5bec94.8d1d44"]]},{"id":"60180ddf.6bfba4","type":"debug","z":"b1960a12.b1b768","name":"","active":false,"console":"false","complete":"payload","x":206,"y":414,"wires":[]},{"id":"f9f4f385.99e1c","type":"ui_gauge","z":"b1960a12.b1b768","name":"","group":"88aecfb8.f6e61","order":3,"width":"6","height":"2","gtype":"gage","title":"Set Fan Control","label":"units","format":"{{value}}","min":0,"max":"60","colors":["#00b500","#e6e600","#ca3838"],"seg1":"20","seg2":"40","x":692,"y":482,"wires":[]},{"id":"d5cd8653.67b878","type":"ui_toast","z":"b1960a12.b1b768","position":"dialog","displayTime":"3","highlight":"","outputs":1,"ok":"Sala Ligado   OK","cancel":" Botao_Virtual","topic":"","name":"","x":741,"y":156,"wires":[[]]},{"id":"6f5bec94.8d1d44","type":"range","z":"b1960a12.b1b768","minin":"0","maxin":"4095","minout":"0","maxout":"60","action":"scale","round":true,"name":"MAP","x":466,"y":481,"wires":[["f9f4f385.99e1c"]]},{"id":"3d570dca.69c942","type":"ui_toast","z":"b1960a12.b1b768","position":"dialog","displayTime":"3","highlight":"","outputs":1,"ok":"OK","cancel":"Sala Desligado","topic":"","name":"","x":674,"y":380,"wires":[[]]},{"id":"f76127da.817328","type":"mqtt in","z":"b1960a12.b1b768","name":"PIR","topic":"PIRCarlosKwiek","qos":"2","broker":"fc7b9192.3844d","x":179,"y":56,"wires":[["938b57b6.3ee228","4ca33be3.383644"]]},{"id":"938b57b6.3ee228","type":"debug","z":"b1960a12.b1b768","name":"","active":true,"console":"false","complete":"false","x":353,"y":37,"wires":[]},{"id":"4ca33be3.383644","type":"switch","z":"b1960a12.b1b768","name":"PIR","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"}],"checkall":"true","outputs":1,"x":333,"y":75,"wires":[["4e879ec9.68114"]]},{"id":"4e879ec9.68114","type":"ui_toast","z":"b1960a12.b1b768","position":"dialog","displayTime":"3","highlight":"","outputs":1,"ok":"Detectado OK","cancel":"Movimento ","topic":"","name":"","x":505,"y":74,"wires":[[]]},{"id":"fd335d31.c1213","type":"change","z":"b1960a12.b1b768","name":"ChangeL","rules":[{"t":"set","p":"payload","pt":"msg","to":"L","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":197,"y":147,"wires":[["9476bca4.5edd5","d6c4c300.bf76d","78f8925a.10b3fc"]]},{"id":"9476bca4.5edd5","type":"debug","z":"b1960a12.b1b768","name":"","active":true,"console":"false","complete":"false","x":750,"y":250,"wires":[]},{"id":"d4096eac.2184c","type":"change","z":"b1960a12.b1b768","name":"ChangeD","rules":[{"t":"set","p":"payload","pt":"msg","to":"D","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":283,"y":290,"wires":[["d6c4c300.bf76d","78f8925a.10b3fc"]]},{"id":"fc7b9192.3844d","type":"mqtt-broker","z":"","broker":"192.168.0.6","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"15","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"88aecfb8.f6e61","type":"ui_group","z":"","name":"Testes","tab":"2bec1d13.69f7b2","disp":true,"width":"27"},{"id":"2bec1d13.69f7b2","type":"ui_tab","z":"","name":"Kwiek_IoT","icon":"dashboard"}]