Flow_2.txt
[{"id":"e73d946c.d986c8","type":"ui_gauge","z":"3297a6a2.b1da7a","name":"","group":"85dbc5c0.2a57c8","order":1,"width":"4","height":"4","gtype":"gage","title":"Temperatura","label":"units","format":"{{value}}","min":0,"max":"60","colors":["#00b500","#e6e600","#ca3838"],"seg1":"25","seg2":"27","x":534,"y":29,"wires":[]},{"id":"9e70ff9f.cc91f","type":"mqtt in","z":"3297a6a2.b1da7a","name":"Temperatura","topic":"TempCarlosKwiek","qos":"1","broker":"47dcf20d.cc4c4c","x":134,"y":34,"wires":[["e73d946c.d986c8","191edf71.6ab3d1","cbd07302.92159","d077158f.234718"]]},{"id":"8a74731c.bdc93","type":"ui_gauge","z":"3297a6a2.b1da7a","name":"","group":"85dbc5c0.2a57c8","order":2,"width":"4","height":"4","gtype":"gage","title":"Umidade","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"50","seg2":"58","x":326,"y":123,"wires":[]},{"id":"35821f8b.49dd","type":"mqtt in","z":"3297a6a2.b1da7a","name":"Set Point Ventilador","topic":"ADCCarlosKwiek","qos":"1","broker":"47dcf20d.cc4c4c","x":163,"y":218,"wires":[["d701b566.5b3b88"]]},{"id":"42ddbf69.03194","type":"ui_gauge","z":"3297a6a2.b1da7a","name":"Set point ventilador","group":"85dbc5c0.2a57c8","order":3,"width":"4","height":"4","gtype":"compass","title":"Set Point","label":"units","format":"{{value}}","min":0,"max":"60","colors":["#00b500","#e6e600","#ca3838"],"seg1":"25","seg2":"28","x":686,"y":220,"wires":[]},{"id":"af54cd6f.b5a8f","type":"ui_button","z":"3297a6a2.b1da7a","name":"Liga todos reles","group":"9dcdcff1.6813e","order":0,"width":"4","height":"1","label":"Liga todos reles","color":"white","bgcolor":"black","icon":"fa-circle-o","payload":"L9","payloadType":"str","topic":"DesligaLedkwiek2","x":151,"y":397,"wires":[["27b81b10.374334","6f30916f.b48e8"]]},{"id":"67b75594.cc70dc","type":"ui_button","z":"3297a6a2.b1da7a","name":"Desliga todos reles","group":"9dcdcff1.6813e","order":0,"width":"4","height":"1","label":"Desliga todos reles","color":"white","bgcolor":"black","icon":"fa-circle-o","payload":"D9","payloadType":"str","topic":"DesligaLedkwiek2","x":143,"y":437,"wires":[["27b81b10.374334","6f30916f.b48e8"]]},{"id":"d4ebd3d3.95ca9","type":"mqtt in","z":"3297a6a2.b1da7a","name":"Liga_Tomada","topic":"Ventilador","qos":"2","broker":"47dcf20d.cc4c4c","x":145,"y":291,"wires":[["bd604eae.619d3","66e66d06.56b154"]]},{"id":"27b81b10.374334","type":"mqtt out","z":"3297a6a2.b1da7a","name":"Reles","topic":"LigaLedkwiek2","qos":"0","retain":"false","broker":"47dcf20d.cc4c4c","x":366,"y":416,"wires":[]},{"id":"7d970a68.96a544","type":"ui_chart","z":"3297a6a2.b1da7a","name":"","group":"85dbc5c0.2a57c8","order":5,"width":"7","height":"4","label":"Grafico Umidade","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":311,"y":166,"wires":[[],[]]},{"id":"6f30916f.b48e8","type":"ui_dropdown","z":"3297a6a2.b1da7a","name":"","label":"Selecione:","group":"9dcdcff1.6813e","order":0,"width":"5","height":"1","passthru":true,"options":[{"label":"Liga Tudo","value":"L9","type":"str"},{"label":"Desliga Tudo","value":"D9","type":"str"}],"payload":"","topic":"","x":436,"y":364,"wires":[["27b81b10.374334"]]},{"id":"8b2cfdf6.67c57","type":"inject","z":"3297a6a2.b1da7a","name":"","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":false,"x":574,"y":406,"wires":[["25e10d6b.89aaf2"]]},{"id":"4d1cff98.00bea","type":"inject","z":"3297a6a2.b1da7a","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"x":547,"y":465,"wires":[["25e10d6b.89aaf2"]]},{"id":"25e10d6b.89aaf2","type":"arduino out","z":"3297a6a2.b1da7a","name":"LED","pin":"13","state":"OUTPUT","arduino":"468cc383.accf8c","x":711,"y":363,"wires":[]},{"id":"ded05ee6.21b99","type":"mqtt in","z":"3297a6a2.b1da7a","name":"Umidade","topic":"UmidCarlosKwiek","qos":"1","broker":"47dcf20d.cc4c4c","x":129,"y":142,"wires":[["8a74731c.bdc93","7d970a68.96a544","1f11d282.e9b5cd"]]},{"id":"1f11d282.e9b5cd","type":"debug","z":"3297a6a2.b1da7a","name":"","active":false,"console":"false","complete":"false","x":503,"y":143,"wires":[]},{"id":"191edf71.6ab3d1","type":"debug","z":"3297a6a2.b1da7a","name":"","active":false,"console":"false","complete":"false","x":285,"y":84,"wires":[]},{"id":"cbd07302.92159","type":"ui_chart","z":"3297a6a2.b1da7a","name":"","group":"85dbc5c0.2a57c8","order":0,"width":"7","height":"4","label":"Grafico Temperatura","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"60","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":505,"y":67,"wires":[[],[]]},{"id":"d701b566.5b3b88","type":"range","z":"3297a6a2.b1da7a","minin":"0","maxin":"4095","minout":"0","maxout":"60","action":"scale","round":true,"name":"MAP","x":456,"y":219,"wires":[["42ddbf69.03194"]]},{"id":"bd604eae.619d3","type":"debug","z":"3297a6a2.b1da7a","name":"","active":false,"console":"false","complete":"false","x":326,"y":262,"wires":[]},{"id":"66e66d06.56b154","type":"ui_text","z":"3297a6a2.b1da7a","group":"88aecfb8.f6e61","order":0,"width":"4","height":"1","name":"","label":"Ventilador","format":"{{msg.payload}}","layout":"row-left","x":344,"y":305,"wires":[]},{"id":"9e7b0365.973f1","type":"excel","z":"3297a6a2.b1da7a","name":"","file":"C:\\Users\\Carlos\\Documents\\node-red-excel\\dados.xls","x":670,"y":296,"wires":[[]]},{"id":"d077158f.234718","type":"json","z":"3297a6a2.b1da7a","name":"Temp","pretty":true,"x":512,"y":299,"wires":[["9e7b0365.973f1"]]},{"id":"85dbc5c0.2a57c8","type":"ui_group","z":"","name":"Home","tab":"2bec1d13.69f7b2","order":1,"disp":true,"width":"27"},{"id":"47dcf20d.cc4c4c","type":"mqtt-broker","z":"","broker":"192.168.0.6","port":"1883","clientid":"Teste","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"9dcdcff1.6813e","type":"ui_group","z":"","name":"Contrôle reles","tab":"685e8aaf.3f29f4","order":1,"disp":true,"width":"27"},{"id":"468cc383.accf8c","type":"arduino-board","z":"","device":"COM5"},{"id":"88aecfb8.f6e61","type":"ui_group","z":"","name":"Testes","tab":"2bec1d13.69f7b2","disp":true,"width":"27"},{"id":"2bec1d13.69f7b2","type":"ui_tab","z":"","name":"Kwiek_IoT","icon":"dashboard"},{"id":"685e8aaf.3f29f4","type":"ui_tab","z":"","name":"Iluminação","icon":"dashboard","order":2}]