Mega_Flow.txt

[{"id":"81b3117f.7e7ab","type":"debug","z":"18327fe5.f5091","name":"","active":true,"console":"false","complete":"false","x":597,"y":156,"wires":[]},{"id":"6b1b3cad.47ee84","type":"mqtt out","z":"18327fe5.f5091","name":"Liga_Desliga_LED","topic":"led","qos":"0","retain":"","broker":"fc7b9192.3844d","x":602,"y":237,"wires":[]},{"id":"69af5a73.3e3f14","type":"inject","z":"18327fe5.f5091","name":"Liga","topic":"led","payload":"L","payloadType":"str","repeat":"","crontab":"","once":false,"x":299,"y":157,"wires":[["81b3117f.7e7ab","6b1b3cad.47ee84"]]},{"id":"fc09c9cd.7fe118","type":"inject","z":"18327fe5.f5091","name":"Desliga","topic":"led","payload":"D","payloadType":"str","repeat":"","crontab":"","once":false,"x":306,"y":237,"wires":[["6b1b3cad.47ee84","81b3117f.7e7ab"]]},{"id":"fc7b9192.3844d","type":"mqtt-broker","z":"","broker":"192.168.0.6","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"15","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""}]